
<div>
    <div class="table-responsive">
      <table class="table table-striped table-dark table-bordered">
        <tr class="bg-success">
          <th> id </th>
          <th> Name </th>
          <th> Data of birth </th>
          <th> Active Status </th>
          <th>  
            <div>
              <input type="text" [(ngModel)]="filterBy" class="form-control" placeholder="search by name" />
            </div> 
          </th>
          <th> </th>
        </tr>   
        <!-- {{userInfo | json}} <br> -->
  
        <tr *ngFor = "let userIn of userInfo | enrollUser : filterBy" >
            <td> {{userIn.id}} </td>
            <td> {{userIn.name}} </td>
            <td> {{userIn.dateOfBirth}} </td>
            <td> {{userIn.active}} </td>
            <td> <button class="btn btn-primary" (click)="viewDetail(userIn)"> View detail</button> </td>
            <td> <button class="btn btn-primary" (click)="updateDetail(userIn)"> Update detail</button> </td>
        </tr> 
      </table>
    </div>
  </div>